.Excel {
	border: 2px solid #f06d06;
	border-radius: 6px;
}

.Excel th {
	background-color: #f06d06;
}

.Excel textarea[type="text"] {
     width: 100%;
     box-sizing: border-box;
/*     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;*/
}